@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bubblegum+Sans&family=Josefin+Sans:wght@300;400&family=Montserrat&family=Playfair+Display:wght@800&family=Poppins:wght@300&display=swap');

/*Versão Mobile*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:white;

}

.logo>img{
    border-radius: 50%;
    width: 80px;
    padding:10px 0px;
    cursor: pointer;
}
.menu{
    display: flex;
}
.menu>li{
   align-self: center;
   padding-bottom: 20px;
   font-weight: bold;
   font-size: 15px;
}
.menu>li:hover{
    opacity: 0.5;
}
.menu>li>a{    
    color: #445a5f;
    align-self: center;
    margin-right: 20px;
    cursor: pointer;
    
}
main{
    display: flex;
    flex-direction: column;
    background: url(../imagens/sigmund-By-tZImt0Ms-unsplash.jpg) no-repeat center center;
    background-size: cover;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main>h1{
   color: white;
   font-weight: bold;
   margin-bottom: 10px;
   font-size: 25px;
   text-shadow: 0px 0px 10px black;
}
main>h2{
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 15px;
    margin-bottom: 10px;
}
.btn{
    color: white;
    background:#FE6E2F ;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;   
}
.btn:hover{
    opacity: 0.8;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    background: #FE6E2F;
}
div.video>iframe{
    align-self: center;
    width: 95vw;
    height: 50vh;
    padding-bottom: 20px;
}
section>p{
    text-align: center;
    padding-bottom: 40px;
    margin: 0 10px;
    line-height: 25px;
}
section>hr{
    width: 300px;
    height: 2px;
    background-color: black;
    margin-bottom: 50px;
    border: none;
}
.sct{
    background: url(../imagens/fausto-sandoval-u2qP5qCLgQ4-unsplash.jpg) no-repeat center center;
    background-size: cover;
}
.sct>div{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
}
.sct>div>img{
    width: 90vw;
    border-radius: 4px;
    margin-bottom: 10px;
    align-self: center;
}
.sct>div>a{
    text-align: center;
    background: #FE6E2F;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    align-self: center;
    margin-top: -10px;
}
.sct>div>a:hover{
    opacity: 0.8;
}
.sct>div>p{
    text-align: center;
    margin-bottom: 15px;
    line-height: 25px;
}
.sct>div>hr{
    align-self: center;
    width: 200px;
    height: 2px;
    background-color: black;
    margin-bottom: 50px;
    border: none;
}
footer{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background: black;
}
footer>ul{
    display: flex;
    margin: 10px 0;
}
footer>ul>li>a>i{
    margin-right: 25px;
    font-size: 1.5rem;
    color: white;
}
footer>ul>li>a>i:hover{
    opacity: 0.8;
}
footer>p{
    color: white;
    margin-bottom: 15px;
    font-size: 0.8rem;
    margin-top: 20px;
}
